@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fixel Display';
  src: local('Fixel Display Light'), local('FixelDisplay-Light'),
    url('/fonts/FixelDisplay-Light.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Display';
  src: local('Fixel Display Medium'), local('FixelDisplay-Medium'),
    url('/fonts/FixelDisplay-Medium.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Display';
  src: local('Fixel Display Regular'), local('FixelDisplay-Regular'),
    url('/fonts/FixelDisplay-Regular.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel Display';
  src: local('Fixel Display Bold'), local('FixelDisplay-Bold'),
    url('/fonts/FixelDisplay-Bold.woff2') format('woff2'),
    url('/fonts/FixelDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #fff;
  --text-size: 16px;
}

body {
  background-color: theme('colors.lightWite');
  color: var(--text-color);
  font-size: var(--text-size);
  font-family: Fixel Display;
  font-weight: 400;
}

*:focus {
  outline-color: theme('colors.purple.80');
}

@layer components {
  .section {
    padding: 40px 0;
  }

  .container {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .section {
      padding: 80px 0;
    }
  }
}

.hero-bg {
  background-image: url('/assets/images/hero/bg.svg');
}

.about-us-bg {
  background-image: url('/assets/images/about-us/about-us-bg.png');
}

.vacancybg1 {
  background: url('/assets/images/vacancy/vacancybg1.png');
}

.vacancy-bg-2 {
  background: url('/assets/images/vacancy/vacancybg2.png');
}

.product1 {
  background: url('/assets/images/product/product1.png');
}

.product-bg {
  background-image: url('/assets/images/product/product-bg.svg');
}
