
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.9;
  fill: #9C89B3;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
} 

.swiper-button-next.swiper-button-next-custom,
.swiper-button-prev.swiper-button-prev-custom {
  width: 48px;
  height: 32px;
  cursor: pointer;
}

.swiper-button-next.swiper-button-next-custom {  
  position: absolute;
  top: 0;
  left: 53%; 
  transform: translateY(50%);
  @media (min-width: 768px) {
    left: 51.5%;
  };
  @media (min-width: 1280px) {
    left: 50%;
  }
}

.swiper-button-prev.swiper-button-prev-custom {
  position: absolute;
  left: 30%;
  top: 0;
  transform: translateY(50%);
  @media (min-width: 768px) {
    left: 41.5%;
  }
  @media (min-width: 1280px) {
    left: 45%;
  }
}